In [29]:
#Importamo las librerías a utilizar
import pandas as pd

In [10]:

players_df = pd.read_csv('players.csv')
teams_df = pd.read_csv('teams.csv')

union_df = teams_df.merge(players_df)
union_df

,team,ranking,games,wins,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards,surname,position,minutes,shots,passes,tackles,saves
0,Brazil,1,5,3,1,1,9,4,7,2,Baptista,midfielder,82,0,42,1,0
1,Brazil,1,5,3,1,1,9,4,7,2,Daniel Alves,defender,310,11,215,6,0
2,Brazil,1,5,3,1,1,9,4,7,2,Elano,midfielder,140,5,57,6,0
3,Brazil,1,5,3,1,1,9,4,7,2,Fabiano,forward,418,9,89,4,0
4,Brazil,1,5,3,1,1,9,4,7,2,Gilberto,defender,33,0,6,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590,North Korea,105,3,0,0,3,1,12,2,0,Pak Chol-Jin,defender,270,0,56,4,0
591,North Korea,105,3,0,0,3,1,12,2,0,Pak Nam-Chol,midfielder,238,1,101,7,0
592,North Korea,105,3,0,0,3,1,12,2,0,Ri Jun-Il,defender,270,1,75,2,0
593,North Korea,105,3,0,0,3,1,12,2,0,Ri Kwang-Chon,defender,270,1,59,4,0
594,North Korea,105,3,0,0,3,1,12,2,0,Ri Myong-Guk,goalkeeper,270,0,46,0,19

In [14]:
union_df.sort_values(by = ["wins"],ascending = [False])

,team,ranking,games,wins,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards,surname,position,minutes,shots,passes,tackles,saves
59,Netherlands,4,6,6,0,0,12,5,15,0,Afellay,midfielder,21,5,22,0,0
69,Netherlands,4,6,6,0,0,12,5,15,0,Stekelenburg,goalkeeper,540,0,149,0,15
60,Netherlands,4,6,6,0,0,12,5,15,0,Boulahrouz,defender,180,0,81,8,0
76,Netherlands,4,6,6,0,0,12,5,15,0,van Persie,forward,479,14,108,1,0
75,Netherlands,4,6,6,0,0,12,5,15,0,van Bronckhorst,defender,540,1,271,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,Nigeria,21,3,0,1,2,3,5,5,1,Obasi,forward,195,6,62,8,0
338,Nigeria,21,3,0,1,2,3,5,5,1,Odemwingie,forward,75,0,28,1,0
339,Nigeria,21,3,0,1,2,3,5,5,1,Odiah,defender,270,0,107,5,0
340,Nigeria,21,3,0,1,2,3,5,5,1,Shittu,defender,270,0,61,5,0
594,North Korea,105,3,0,0,3,1,12,2,0,Ri Myong-Guk,goalkeeper,270,0,46,0,19

In [15]:
union_df.sort_values(by = ["wins"],ascending = [False]).max()

team               Uruguay
ranking                105
games                    6
wins                     6
draws                    3
losses                   3
goalsFor                13
goalsAgainst            12
yellowCards             15
redCards                 2
surname         von Bergen
position        midfielder
minutes                570
shots                   27
passes                 563
tackles                 34
saves                   20
dtype: object

In [16]:
union_df.max()

team               Uruguay
ranking                105
games                    6
wins                     6
draws                    3
losses                   3
goalsFor                13
goalsAgainst            12
yellowCards             15
redCards                 2
surname         von Bergen
position        midfielder
minutes                570
shots                   27
passes                 563
tackles                 34
saves                   20
dtype: object

In [17]:
union_df.min()

team             Algeria
ranking                1
games                  3
wins                   0
draws                  0
losses                 0
goalsFor               0
goalsAgainst           1
yellowCards            2
redCards               0
surname           Abdoun
position        defender
minutes                1
shots                  0
passes                 0
tackles                0
saves                  0
dtype: object

In [18]:
union_df.groupby(["wins","team"]).sum().sort_values(["wins"],ascending=[False])[0:3]

,,ranking,games,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards,minutes,shots,passes,tackles,saves
wins,team,,,,,,,,,,,,,
6,Netherlands,72,108,0,0,216,90,270,0,5940,67,2748,114,15
5,Spain,40,120,0,20,140,40,60,0,5940,82,3701,97,11
4,Germany,114,114,0,38,247,57,152,19,5886,66,2843,135,20

In [19]:
union_df.sort_values(by=["minutes"],ascending=[False])[0:3]

,team,ranking,games,wins,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards,surname,position,minutes,shots,passes,tackles,saves
231,Uruguay,16,6,3,2,1,9,5,8,2,Arevalo Rios,midfielder,570,5,195,21,0
245,Uruguay,16,6,3,2,1,9,5,8,2,Muslera,goalkeeper,570,0,75,0,16
244,Uruguay,16,6,3,2,1,9,5,8,2,Maxi Pereira,midfielder,570,5,182,15,0

# Unión de datos

In [20]:
teams_df.merge(players_df)

,team,ranking,games,wins,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards,surname,position,minutes,shots,passes,tackles,saves
0,Brazil,1,5,3,1,1,9,4,7,2,Baptista,midfielder,82,0,42,1,0
1,Brazil,1,5,3,1,1,9,4,7,2,Daniel Alves,defender,310,11,215,6,0
2,Brazil,1,5,3,1,1,9,4,7,2,Elano,midfielder,140,5,57,6,0
3,Brazil,1,5,3,1,1,9,4,7,2,Fabiano,forward,418,9,89,4,0
4,Brazil,1,5,3,1,1,9,4,7,2,Gilberto,defender,33,0,6,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590,North Korea,105,3,0,0,3,1,12,2,0,Pak Chol-Jin,defender,270,0,56,4,0
591,North Korea,105,3,0,0,3,1,12,2,0,Pak Nam-Chol,midfielder,238,1,101,7,0
592,North Korea,105,3,0,0,3,1,12,2,0,Ri Jun-Il,defender,270,1,75,2,0
593,North Korea,105,3,0,0,3,1,12,2,0,Ri Kwang-Chon,defender,270,1,59,4,0
594,North Korea,105,3,0,0,3,1,12,2,0,Ri Myong-Guk,goalkeeper,270,0,46,0,19

# Técnicas de filtrado

In [22]:
union_df[union_df["team"]=="Brazil"]

,team,ranking,games,wins,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards,surname,position,minutes,shots,passes,tackles,saves
0,Brazil,1,5,3,1,1,9,4,7,2,Baptista,midfielder,82,0,42,1,0
1,Brazil,1,5,3,1,1,9,4,7,2,Daniel Alves,defender,310,11,215,6,0
2,Brazil,1,5,3,1,1,9,4,7,2,Elano,midfielder,140,5,57,6,0
3,Brazil,1,5,3,1,1,9,4,7,2,Fabiano,forward,418,9,89,4,0
4,Brazil,1,5,3,1,1,9,4,7,2,Gilberto,defender,33,0,6,4,0
5,Brazil,1,5,3,1,1,9,4,7,2,Gilberto Silva,midfielder,450,3,299,11,0
6,Brazil,1,5,3,1,1,9,4,7,2,Grafite,forward,5,0,4,0,0
7,Brazil,1,5,3,1,1,9,4,7,2,Josue,midfielder,46,0,54,1,0
8,Brazil,1,5,3,1,1,9,4,7,2,Juan,defender,450,4,223,9,0
9,Brazil,1,5,3,1,1,9,4,7,2,Julio Cesar,goalkeeper,450,0,69,0,10
10,Brazil,1,5,3,1,1,9,4,7,2,Kaka,midfielder,337,6,139,2,0
11,Brazil,1,5,3,1,1,9,4,7,2,Kleberson,midfielder,9,0,1,0,0
12,Brazil,1,5,3,1,1,9,4,7,2,Lucio,defender,450,1,223,14,0
13,Brazil,1,5,3,1,1,9,4,7,2,Maicon,defender,450,6,249,11,0
14,Brazil,1,5,3,1,1,9,4,7,2,Melo,midfielder,291,2,249,12,0
15,Brazil,1,5,3,1,1,9,4,7,2,Michel Bastos,defender,422,7,224,14,0
16,Brazil,1,5,3,1,1,9,4,7,2,Nilmar,forward,129,5,18,3,0
17,Brazil,1,5,3,1,1,9,4,7,2,Ramires,midfielder,105,3,53,3,0
18,Brazil,1,5,3,1,1,9,4,7,2,Robinho,forward,354,9,181,5,0

In [23]:
union_df[union_df["shots"]>20]

,team,ranking,games,wins,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards,surname,position,minutes,shots,passes,tackles,saves
37,Spain,2,6,5,0,1,7,2,3,0,Villa,forward,529,22,169,2,0
125,Argentina,7,5,4,0,1,10,6,7,0,Messi,forward,450,21,321,10,0
441,Ghana,32,5,2,2,1,5,4,11,0,Gyan,forward,501,27,151,1,0

# Insights

#### Los 3 países más ganadores

In [24]:
union_df.groupby(["wins","team"]).sum().sort_values(["wins"], ascending = [False])[0:3]

,,ranking,games,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards,minutes,shots,passes,tackles,saves
wins,team,,,,,,,,,,,,,
6,Netherlands,72,108,0,0,216,90,270,0,5940,67,2748,114,15
5,Spain,40,120,0,20,140,40,60,0,5940,82,3701,97,11
4,Germany,114,114,0,38,247,57,152,19,5886,66,2843,135,20

#### Los jugadores que más tiempo han jugado

In [27]:
players_df.sort_values(by = ["minutes"], ascending = [False])[1:10]

,surname,team,position,minutes,shots,passes,tackles,saves
556,Arevalo Rios,Uruguay,midfielder,570,5,195,21,0
570,Muslera,Uruguay,goalkeeper,570,0,75,0,16
571,Perez,Uruguay,midfielder,567,2,252,34,0
562,Forlan,Uruguay,forward,564,18,202,0,0
521,Casillas,Spain,goalkeeper,540,0,67,0,11
335,van Bommel,Netherlands,midfielder,540,2,307,31,0
176,Friedrich,Germany,defender,540,1,244,16,0
183,Lahm,Germany,defender,540,0,360,17,0
185,Mertesacker,Germany,defender,540,0,282,9,0

#### Los países con más tarjetas rojas

In [28]:
union_df.groupby(["redCards","team"]).sum().sort_values(["redCards"], ascending = [False])

                       ranking  games  wins  draws  losses  goalsFor  \
redCards team
2        Uruguay           336    126    63     42      21       189
         Brazil             19     95    57     19      19       171
         Australia         380     57    19     19      19        57
         Algeria           540     54     0     18      36         0
1        Switzerland       432     54    18     18      18        18
         South Africa     1577     57    19     19      19        57
         Serbia            285     57    19      0      38        38
         Portugal           60     80    20     40      20       140
         Nigeria           378     54     0     18      36        54
         Germany           114    114    76      0      38       247
         France            171     57     0     19      38        19
         Chile             360     80    40      0      40        60
0        Cameroon          380     60     0      0      60        40
         USA               266     76    19     38      19        95
         Spain              40    120   100      0      20       140
         South Korea       799     68    17     17      34       102
         Argentina         140    100    80      0      20       200
         Slovakia          714     84    21     21      42       105
         Paraguay          620    100    20     60      20        60
         North Korea      1575     45     0      0      45        15
         New Zealand      1170     45     0     45       0        30
         Netherlands        72    108   108      0       0       216
         Mexico            306     72    18     18      36        72
         Japan             810     72    36     18      18        72
         Ivory Coast       432     48    16     16      16        64
         Italy              95     57     0     38      19        76
         Honduras          722     57     0     19      38         0
         Greece            247     57    19      0      38        38
         Ghana             608     95    38     38      19        95
         England           152     76    19     38      19        57
         Denmark           684     57    19      0      38        57
         Slovenia          375     45    15     15      15        45

                       goalsAgainst  yellowCards  minutes  shots  passes  \
redCards team
2        Uruguay                105          168     6260     70    1974
         Brazil                  76          133     4931     71    2395
         Australia              114          133     2870     29    1150
         Algeria                 36           72     2952     31    1099
1        Switzerland             18          144     2911     21     948
         South Africa            95           76     2956     35    1218
         Serbia                  57          152     2954     38    1201
         Portugal                20          160     3959     50    1542
         Nigeria                 90           90     2913     29     888
         Germany                 57          152     5886     66    2843
         France                  76          114     2905     29    1117
         Chile                  100          260     3907     45    1600
0        Cameroon               100          100     2970     35    1344
         USA                     95          171     4290     55    1594
         Spain                   40           60     5940     82    3701
         South Korea            136          102     3960     44    1508
         Argentina              120          140     4950     69    2614
         Slovakia               147          231     3960     35    1519
         Paraguay                40          180     5280     49    2014
         North Korea            180           30     2970     32     890
         New Zealand             30           90     2970     15     867
         Netherlands             90          270     5940     67    2748
         Mexico                  90          162     3960     43    1855
         Japan                   36          126     4290     38    1212
         Ivory Coast             48           80     2970     39    1213
         Italy                   95           95     2970     36    1354
         Honduras                57          133     2970     13     870
         Greece                  95           95     2970     32     923
         Ghana                   76          209     5610     75    2170
         England                 95          114     3960     49    1798
         Denmark                114          114     2970     32    1083
         Slovenia                45          135     2970     17    1038

                       tackles  saves
redCards team
2        Uruguay           154     16
         Brazil            106     10
         Australia          43     13
         Algeria            60     14
1        Switzerland        59     11
         South Africa       53      7
         Serbia             48      7
         Portugal          103     17
         Nigeria            46     20
         Germany           135     20
         France             56     12
         Chile             102      4
0        Cameroon           50      9
         USA                72     14
         Spain              97     11
         South Korea        79     14
         Argentina         114     10
         Slovakia           58     14
         Paraguay          124     10
         North Korea        56     19
         New Zealand        48      9
         Netherlands       114     15
         Mexico            103     13
         Japan              75     17
         Ivory Coast        58      8
         Italy              70      1
         Honduras           60     12
         Greece             68     12
         Ghana             107     20
         England            75      9
         Denmark            55     16
         Slovenia           46     13